// container
// search-box
//   input
//   button
// user-card
//  info

.container{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.search-box{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;

  input{
    padding: 10px;
    font-size: 16px;
    width: 60%;
  }

  button{
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgb(48, 46, 46);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;

    &:hover{
      background-color: rgb(155, 154, 154);
    }
  }
}

.error{
  color: red;
}

.user-card{
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  flex-direction: column;

  img{
    width: 100%;
    border-radius: 50%;
  }

  .info{
    flex: 1;
    h3{
      margin-top: 0;
      text-align: center;
    }
  }
}

